{% extends "base.html" %}
{% block content %}
<h1 align="center">{% block title %} {{ title }} {% endblock %}</h1>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            
            <div class="form-group">
                {{ form.nopol.label(class="form-control-label") }}
                {% if form.nopol.errors %}
                    {{ form.nopol(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nopol.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nopol(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.sopir.label(class="form-control-label") }}
                {% if form.sopir.errors %}
                    {{ form.sopir(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sopir.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sopir(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.supplier.label(class="form-control-label") }}
                {% if form.supplier.errors %}
                    {{ form.supplier(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.supplier.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.supplier(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.satpam1.label(class="form-control-label") }}
                {% if form.satpam1.errors %}
                    {{ form.satpam1(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.satpam1.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.satpam1(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.muatan.label(class="form-control-label") }}
                {% if form.muatan.errors %}
                    {{ form.muatan(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.muatan.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.muatan(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="formFileSm" class="form-label"> {{ form.foto.label() }}</label>
                    {{ form.foto(class="form-control-file") }}
                    {% if form.foto.errors %}
                        {% for error in form.foto.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
            </div>
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}