{% extends "base.html" %}
{% block content %}
<h1 align="center">{% block title %} {{ title }} {% endblock %}</h1>
<div class="content-section">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            
            <div class="form-group">
                {{ form.nopol.label(class="form-control-label") }}
                {% if form.nopol.errors %}
                    {{ form.nopol(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.nopol.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.nopol(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.sopir.label(class="form-control-label") }}
                {% if form.sopir.errors %}
                    {{ form.sopir(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.sopir.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.sopir(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.km_awal.label(class="form-control-label") }}
                {% if form.km_awal.errors %}
                    {{ form.km_awal(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.km_awal.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.km_awal(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.km_isi.label(class="form-control-label") }}
                {% if form.km_isi.errors %}
                    {{ form.km_isi(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.km_isi.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.km_isi(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.solar_awal.label(class="form-control-label") }}
                {% if form.solar_awal.errors %}
                    {{ form.solar_awal(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.solar_awal.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.solar_awal(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.e_toll.label(class="form-control-label") }}
                {% if form.e_toll.errors %}
                    {{ form.e_toll(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.e_toll.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.e_toll(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.tujuan.label(class="form-control-label") }}
                {% if form.tujuan.errors %}
                    {{ form.tujuan(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.tujuan.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.tujuan(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                {{ form.keterangan.label(class="form-control-label") }}
                {% if form.keterangan.errors %}
                    {{ form.keterangan(class="form-control form-control-lg is-invalid") }}
                    <div class="invalid-feedback">
                        {% for error in form.keterangan.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {% else %}
                    {{ form.keterangan(class="form-control form-control-lg") }}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="formFileSm" class="form-label"> {{ form.foto.label() }}</label>
                    {{ form.foto(class="form-control-file") }}
                    {% if form.foto.errors %}
                        {% for error in form.foto.errors %}
                            <span class="text-danger">{{ error }}</span></br>
                        {% endfor %}
                    {% endif %}
            </div>

        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}